In [1]:
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, TimeSeriesSplit
from sklearn.preprocessing import StandardScaler
from tqdm import tqdm
import time
from scipy.optimize import minimize
import xgboost as xgb

In [2]:
print("Reading CSV file...")
data = pd.read_csv('/Users/apple/Desktop/UChicago-Trading-Competition-2025/case2/Case2.csv')
print(f"Data loaded. Shape: {data.shape}") #39000 / 30 = 1300 means 5 years

Reading CSV file...
Data loaded. Shape: (39000, 6)

In [3]:
data

        Asset_1   Asset_2   Asset_3   Asset_4   Asset_5   Asset_6
0      1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1      1.000116  1.000057  1.000004  1.001425  0.999649  1.001650
2      0.999667  0.999739  1.000002  1.002474  0.999308  1.001552
3      1.000070  1.002696  1.000000  1.007441  1.001667  1.002308
4      1.000226  0.999711  1.000005  1.007110  1.001939  0.999043
...         ...       ...       ...       ...       ...       ...
38995  0.923276  0.916493  0.864620  1.326381  1.306602  1.203658
38996  0.924819  0.915893  0.863394  1.332159  1.309065  1.211543
38997  0.924660  0.915980  0.863731  1.335214  1.308361  1.210135
38998  0.923272  0.916770  0.864996  1.337080  1.308208  1.208277
38999  0.924183  0.917073  0.864100  1.336996  1.306074  1.213191

[39000 rows x 6 columns]